*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #7DBBC3;
    font-family: 'Roboto', sans-serif;
}
h1{
    background-color: #080F0F;
    border-width: 3px;
    width: 20%;
    border-style: solid;
    border-color: #FFD400;
    text-align: center;
    color: #FFD400;
    border-radius: 5px;

    margin: 1%;
    padding: 1% 0%;
}
h2{
    padding: 1%;
}

#box-3{
    border: 1px solid;
    border-color: black;
    color: black;
}
