body{
    font-family: Arial, Helvetica, sans-serif;    
}

.sub-header{
    color: red;
}

.text{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: orange;
}

#id-item{
    color: blue
}
