*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    overflow: hidden;
}

#three-canvas{
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
}

#file-input{
    z-index: 1;
    position: absolute;
}

.message-container {
    z-index: 1;
    position: absolute;
    margin: 16px;
    background-color: rgba(255,255,255,0.8);
    display: inline-block;
    padding: 10px;
}

.message {
    display: inline;
    color: black;
}